.DS_Store
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz
*.toc



# Public HSA specifications are fetched locally but not redistributed in this
# public repository.
references/hsa/pdfs/
